html {
  margin: 0;
  padding: 0;
}
body{
  background-color: darkgray;
}

#mainNav {
  background-color: black;
}

.footer {
  color: white;
}

#page1{
  background-color: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65));
}

#page2{
  background-color: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65));
}
